<!DOCTYPE html>
<html>
<head>
<title>Student Modules</title>
~[wc:commonscripts] 
~[wc:mba_app_creator/appModuleStyles]
<link href="/images/css/screen.css" rel="stylesheet" media="screen">
<link href="/images/css/print.css" rel="stylesheet" media="print">
<script>
	$j(document).ready(function(){
		$j('li.selected').removeClass('selected');
		setTimeout(function(){
			$j(`.modLink[data-mod="~(gpv.mod)"]`).closest('li').addClass('selected');
		}, 30);
		
		$j('#switchStuBtn').click(() => $j(`.modLink[data-mod="~(gpv.mod)"]`).click());
	});
</script>
</head>
<body>

~[wc:teachers_header_css] 
~[wc:teachers_navigation_css] 
~[wc:teachers_nav_css] 

<div 
	data-module-name="moduleApp"
	ng-controller="moduleCtrl"
	data-bootstrap-local="true"
	id="moduleAppTarget"
	style="padding:2em">
	<H1 ng-cloak>
		{{selectedModule.cat}} - 
		~[tlist_sql; SELECT lastfirst FROM students WHERE dcid = ~(gpv.stuDcid);]
			~(name)
		[/tlist_sql]
	</H1>

	<div class="bold" style="margin-left:2em" ng-show="selectedModule" ng-cloak>
		<span ng-show="multipleModules">
			Selected Module
			<select ng-model="selectedModule" ng-options="mod as mod.cat for mod in modules">
			</select>
		</span>
		<button style="float:right;margin-right:2em" id="switchStuBtn">Switch Student</button>
	</div>

	<div class="center" id="loadingDiv">
		<div class="progress" data-pss-wait-spinner=""></div><br/>Loading
	</div>

	<div class="center" ng-if="allowNewRecord()" ng-cloak>
		<button ng-click="newRecord()">New</button>
	</div>

	<div class="box-round" ng-cloak style="margin-top:1em">
	<table class="grid">
		<tr>
			<th ng-repeat="field in selectedModule.fields" ng-if="field.field != 'Section Header'">
				{{field.label}}
			</th>
			<th ng-if="selectedModule.permissions.update || selectedModule.permissions.delete"
				style="width:7em">
			</th>
		</tr>
		<tr ng-repeat="rec in currentRecords | orderObjectBy:'sort_val'">
			<td ng-repeat="field in selectedModule.fields" ng-if="field.field != 'Section Header'">
				<span ng-show="field.dataType != 'Boolean'" style="white-space:pre-wrap;" 
					ng-bind-html="getDisplayVal(rec, field)"></span>
				<div class="center" ng-show="field.dataType == 'Boolean' && rec[field.field] == '1'">
					&#10004;
				</div>
				<div class="center" ng-show="field.dataType == 'Boolean' && rec[field.field] != '1'">
					&#x2718;
				</div>
			</td>
			<td ng-if="selectedModule.permissions.update || selectedModule.permissions.delete" class="center">
				<button class="material-icons" title="Edit" ng-click="markForUpdate(rec)"
					ng-if="selectedModule.permissions.update">
					edit</button>
				<button class="material-icons" title="Delete" ng-if="selectedModule.permissions.delete" 
					ng-click="deleteRec($event, rec)">delete</button>
			</td>
		</tr>
		<tr ng-show="showTotals">
			<td ng-repeat="field in selectedModule.fields" ng-if="field.field != 'Section Header'">
				{{getTotal(field.field)}}
			</td>
			<td ng-if="selectedModule.permissions.update || selectedModule.permissions.delete">
			</td>
		</tr>
	</table>
	<div class="button-row" ng-show="selectedModule.numericFields.length && recCount">
		<button ng-click="showTotals = true">Show Totals</button>
	</div>
	</div>
	
	<div class="dialogRight" id="updateRecordDialog">
		<div class="dialogHeader">
			{{(editRecord.id ? 'Edit' : 'New')}} {{selectedModule.cat}} Record 
			<button ng-click="closeRightDialog()">x</button>
		</div>
		<edit-record></edit-record>
	</div>

	<div ng-cloak ng-show="noModsAvailable" class="feedback-alert">
		No Student Modules Available
	</div>
</div> <!-- End Controller -->

~[wc:teachers_footer_fr_css]
<script type="text/javascript">
	const mba_reqs = "components/shared/index,/mbaAppCreator/scripts/reportModuleApp.js?_="+Math.random();
	$j('#moduleAppTarget').attr('data-require-path',mba_reqs);
	const mba_ps_portal = 'teacher';
	const mba_ps_curSchool = '~(curschoolid)';
	const mba_ps_curYear = ~(curyearid);
	const mba_ps_dateFormat = '~[dateformat]';
	const mba_ps_curDcid = '~(gpv.stuDcid)';
	const mba_ps_roles = '';
	var mba_ps_schools = ~[wc:mba_app_creator/ac_schools];
	delete mba_ps_schools.rem;
	var mba_ps_years = {};
	~[tlist_sql;
		SELECT yearid, abbreviation
		FROM terms
		WHERE schoolid = 0
		AND isyearrec = 1
		ORDER BY yearid desc
	;]
		mba_ps_years["~(yearid)"] ={"yearid":~(yearid),"abbreviation":"~(abbr;JSON)"};
	[/tlist_sql]
	~[tlist_sql;
		SELECT count(cc.id)
		FROM sectionteacher
		JOIN cc ON cc.sectionid = sectionteacher.sectionid
		JOIN students ON students.id = cc.studentid
		WHERE sectionteacher.teacherid = ~[x:userid]
		AND trunc(current_date) BETWEEN sectionteacher.start_date AND sectionteacher.end_date
		AND students.dcid = ~(gpv.stuDcid)
	;]
		var classCount = ~(count)
	[/tlist_sql]
	const mba_teachers_student = classCount > 0;
</script>
</body>
</html>