<!DOCTYPE html>
<html>
<head>
<title>MBA Student Modules</title>
~[wc:mba_app_creator/appModuleStyles]
~[wc:guardian_header] 

<div 
	data-module-name="moduleApp"
	ng-controller="moduleCtrl"
	data-bootstrap-local="true"
	id="moduleAppTarget"
	style="margin-top:2em">
	<div class="bold" style="margin-left:2em" ng-show="selectedModule && multipleModules" ng-cloak>
		Selected Module
		<select ng-model="selectedModule" ng-options="mod as mod.cat for mod in modules">
		</select>
	</div>

	<H2 ng-show="selectedModule && !multipleModules" ng-cloak
		style="border-bottom:none;margin-top:0px">
		{{selectedModule.cat}}
	</H2>

	<div class="center" id="loadingDiv">
		<div class="progress" data-pss-wait-spinner=""></div><br/>Loading
	</div>

	<div class="center" ng-if="allowNewRecord()" ng-cloak>
		<button ng-click="newRecord()">New</button>
	</div>

	<div class="box-round" ng-cloak style="max-width:90vw;overflow-x: auto;">
	<table class="grid" >
		<tr>
			<th ng-repeat="field in selectedModule.fields" ng-if="field.field != 'Section Header'"
				title="{{field.label}}">
				{{trunc(field.label, 30)}}
			</th>
			<th ng-if="selectedModule.permissions.update || selectedModule.permissions.delete"
				style="width:7em">
			</th>
		</tr>
		<tr ng-repeat="rec in currentRecords | orderObjectBy:'sort_val'">
			<td ng-repeat="field in selectedModule.fields" ng-if="field.field != 'Section Header'">
				<span ng-show="field.dataType != 'Boolean'" style="white-space:pre-wrap;" 
					ng-bind-html="getDisplayVal(rec, field)"></span>
				<div class="center" ng-show="field.dataType == 'Boolean' && rec[field.field] == '1'">
					&#10004;
				</div>
				<div class="center" ng-show="field.dataType == 'Boolean' && rec[field.field] != '1'">
					&#x2718;
				</div>
			</td>
			<td ng-if="selectedModule.permissions.update || selectedModule.permissions.delete" class="center">
				<button class="material-icons" title="Edit" ng-click="markForUpdate(rec)"
					ng-if="selectedModule.permissions.update">
					edit</button>
				<button class="material-icons" title="Delete" ng-if="selectedModule.permissions.delete" 
					ng-click="deleteRec($event, rec)">delete</button>
			</td>
		</tr>
		<tr ng-show="showTotals">
			<td ng-repeat="field in selectedModule.fields" ng-if="field.field != 'Section Header'">
				{{getTotal(field.field)}}
			</td>
			<td ng-if="selectedModule.permissions.update || selectedModule.permissions.delete">
			</td>
		</tr>
	</table>
	<div class="button-row" ng-show="selectedModule.numericFields.length && recCount">
		<button ng-click="showTotals = true">Show Totals</button>
	</div>
	</div>
	
	<div class="dialogRight" id="updateRecordDialog">
		<div class="dialogHeader">
			{{(editRecord.id ? 'Edit' : 'New')}} {{selectedModule.cat}} Record 
			<button ng-click="closeRightDialog()">x</button>
		</div>
		<edit-record></edit-record>
	</div>

	<div ng-cloak ng-show="noModsAvailable" class="feedback-alert">
		No Student Modules Available
	</div>
</div> <!-- End Controller -->

~[wc:guardian_footer] 
<script type="text/javascript">
	const mba_reqs = "components/shared/index,/mbaAppCreator/scripts/reportModuleApp.js?_="+Math.random();
	$j('#moduleAppTarget').attr('data-require-path',mba_reqs);
	~[if.isstudent]
		const mba_ps_portal = 'student';
	[else]
		const mba_ps_portal = 'guardian';
	[/if]
	const mba_ps_curSchool = '~([01]schoolid)';
	const mba_ps_curYear = ~(curyearid);
	const mba_ps_dateFormat = '~[dateformat]';
	const mba_ps_curDcid = '~(rn)';
	const mba_ps_roles = '';
	var mba_ps_schools = ~[wc:mba_app_creator/ac_schools];
	delete mba_ps_schools.rem;
	var mba_ps_years = {};
	~[tlist_sql;
		SELECT yearid, abbreviation
		FROM terms
		WHERE schoolid = 0
		AND isyearrec = 1
		ORDER BY yearid desc
	;]
		mba_ps_years["~(yearid)"] ={"yearid":~(yearid),"abbreviation":"~(abbr;JSON)"};
	[/tlist_sql]
</script>
</body> 
</html>