<div>
	<form name="editRecordForm">
	<table class="grid" id="editRecTable">
		<tr ng-repeat="field in selectedModule.fields" ng-show="field.inputType != 'incognito'">
			<th colspan="2" ng-if="field.field == 'Section Header'">{{field.label}}</th>
			<td style="white-space:pre" ng-if="field.field != 'Section Header'">{{field.label}}</td>
			<td ng-if="field.inputType == 'text' && field.dataType != 'Date'">
				<input type="{{(field.dataType == 'Integer' || field.dataType == 'Double') ? 'number' : 'text'}}" 
					ng-model="editRecord[field.field]" ng-required="field.required"/>
				<span ng-if="field.required">*</span>
			</td>
			<td ng-if="field.dataType == 'Date'">
				<input type="text" ng-model="editRecord[field.field]" class="psDateWidget" 
					ng-required="field.required"/>
				<span ng-if="field.required">*</span>
			</td>
			<td ng-if="field.inputType == 'textarea'">
				<textarea rows="{{field.rows}}" cols="{{field.cols}}" ng-model="editRecord[field.field]"
					ng-required="field.required">
				</textarea>
				<span ng-if="field.required">*</span>
			</td>
			<td ng-if="field.inputType == 'select'">
				<select ng-model="editRecord[field.field]" ng-required="field.required"
					ng-options="option for option in field.options"
					ng-if="field.dataType != 'Integer' && field.dataType != 'Double'">
				</select>
				<select ng-model="editRecord[field.field]" ng-required="field.required"
					ng-options="convertNum(option) as option for option in field.options"
					ng-if="field.dataType == 'Integer' || field.dataType == 'Double'">
				</select>
				<span ng-if="field.required">*</span>
			</td>
			<td ng-if="field.inputType == 'checkbox'">
				<input type="checkbox" ng-model="editRecord[field.field]" ng-required="field.required"/>
				<span ng-if="field.required">*</span>
				<div class="feedback-error" ng-if="requiredError(field)" style="display:inline-block;">
					Required
				</div>
			</td>
			<td ng-if="field.inputType == 'radio'">
				<label ng-repeat="option in field.options">
					<input type="radio" name="fld{{field.field}}" value="{{option}}"
						ng-model="editRecord[field.field]" ng-required="field.required"/> {{option}}
				</label>
				<span ng-if="field.required">*</span>
				<div class="feedback-error" ng-if="requiredError(field)" style="display:inline-block;">
					Required
				</div>
			</td>
			<td ng-if="field.inputType == 'school'">
				<select ng-model="editRecord[field.field]" 
					ng-options="s.school_number as s.name for s in schools | orderObjectBy:'sortorder'">
				</select>
				<span ng-if="field.required">*</span>
			</td>
			<td ng-if="field.inputType == 'year'">
				<select ng-model="editRecord[field.field]" 
					ng-options="y.yearid as y.abbreviation for y in years | orderObjectBy:'yearid':true">
				</select>
				<span ng-if="field.required">*</span>
			</td>
		</tr>
	</table>
	</form>
	<div class="button-row">
		<button ng-click="closeRightDialog()">Cancel</button>
		<button ng-click="submitUpdate()">Submit</button>
	</div>
</div>